pipeline/auditlog.json
{
	"name": "auditlog",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@concat(formatDateTime(utcnow()),'_log.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "log_file",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "df_logdetails",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_logdetails",
									"type": "DataFlowReference",
									"parameters": {
										"adfname": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"pipename": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"status": {
											"value": "'@{string('success')}'",
											"type": "Expression"
										},
										"runid": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"triggername": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"logfilename": {
											"value": "'@{variables('filename')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"sink1": {
											"filename": {
												"value": "@variables('filename')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "df_logdetails_append",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_logdetails_append",
									"type": "DataFlowReference",
									"parameters": {
										"adfname": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"pipename": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"status": {
											"value": "'@{'success'}'",
											"type": "Expression"
										},
										"runid": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"triggername": {
											"value": "'@{pipeline().TriggerId}'",
											"type": "Expression"
										},
										"logfilename": {
											"value": "'@{variables('filename')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"logappend": {
											"filename": {
												"value": "@variables('filename')",
												"type": "Expression"
											}
										},
										"sink1": {
											"filename": {
												"value": "@variables('filename')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}